/* UserMenu.module.css */

.icon {
    color: teal;
    margin-right: 8px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: start;
}
.p{
    line-height: 0;
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
    color: red;
}
